.no-permissions h2{
	display: none;
	
}
.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    font-size: 11px;
    outline: 0;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 21px;
    line-height: 23px;
    padding: 0 16px;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    }
.no-permissions .times{
	font-size: 16px;
	border: 2px solid gold;
	margin: 10px;
	padding: 13px;

}
span.time {
    padding-left: 10px;
    float: right;
}
.entry:not(:last-child) {
    border-bottom: 1px solid lightgray;
}
.entry {
    padding: 7px 7px;
    font-size: 18px;
}
.entry:after {
    content: '';
    display: table;
    clear: both;
}
.main {
    width: 550px;
}
.no-permissions .main {
    width: 350px;
}
.no-permissions .explain {
    padding-bottom: 20px;
}
.no-data {
    font-size: 22px;
}